/*
 * pool/assets/typography.less
 * ===========================
 * Define all typography related stylings here
 * ----------------------------------------------------------------- */

body {
	font-family: @baseFamily;
	font-size: @baseFont;
	line-height: @baseLine;
	color: @baseColor;
}
