# Ignore compiled CSS #
################
css/*

# Only track /system/* and *.sample files #
##########################################
src/*
!src/*.sample
!src/system/

# Generic files to ignore #
###########################
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.lock
*.out
*.swp
*~
