/*
 * pool/variables/variables.less
 * ==================
 * Variables to customize the look and feel
 * ----------------------------------------------------------------- */

// Links
@linkColor:         #0069d6;
@linkColorHover:    darken(@linkColor, 15);

// Baseline grid
@baseLine:          1.5em;
@baseFamily:		Arial;
@baseColor:			#000;

// Grid system variables
@column-width: 		30;
@gutter-width: 		10;
@columns: 			24;
// Utility variable — you should never need to modify this
@_gridsystem-width: (@column-width * @columns) + (@gutter-width * @columns) * 1px;
// Set @total-width to 100% for a fluid layout
// or to @_gridsystem-width for fixed-width layout
@total-width: 		@_gridsystem-width;

// Template color scheme
@header-background-color: #CEDBEB;
@main-background-color: #EDEDED;
@sidebar-background-color: #EDEDED;
@footer-background-color: #173a36;

@selection-background-color: #4a8ec2;
@selection-font-color: #fff;