/*
 * styles/typography.less
 * ===========================
 * Define all typography related stylings here
 * Everything related to fonts goes here
 * ----------------------------------------------------------------- */


/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
BODY
LINKS
HEADINGS
MISC
CUSTOM FONTS
*/






/*------------------------------------*\
	$BODY
\*------------------------------------*/
body {
	font-family: @baseFamily;
	color: @baseColor;
	line-height: @baseLine;
}

/*------------------------------------*\
	$LINKS
\*------------------------------------*/
a {
	color: @linkColor;
}
a:hover {
	color: @linkColorHover;
}

/*------------------------------------*\
	$HEADINGS
\*------------------------------------*/
h1 {
    font-size: 2em;
    line-height: 0.75em;
    font-weight: normal;
	font-style: normal;
    font-family: @h1-font;
    color: @h1-color;
}

h2 {
    font-size: 1.5em;
    line-height: 1.em;
    font-weight: normal;
	font-style: normal;
    font-family: @h1-font;
    color: @h2-color;
}

h3 {
    font-size: 1.17em;
    line-height: 1.282em;
    font-weight: normal;
	font-style: normal;
    font-family: @h1-font;
    color: @h3-color;
}

/*------------------------------------*\
	$MISC
\*------------------------------------*/


/*------------------------------------*\
	$CUSTOM FONTS
\*------------------------------------*/
