/*
 * styles/typography.less
 * ===========================
 * Everything related to typography should be set here
 * ----------------------------------------------------------------- */


/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
BODY
LINKS
HEADINGS
TYPOGRAPHY
*/






/*------------------------------------*\
	$BODY
\*------------------------------------*/
body {
	font-size: 100%;
	font-family: @baseFamily;
	color: @baseColor;
}

/*------------------------------------*\
	$LINKS
\*------------------------------------*/
a {
	color: @linkColor;
	text-decoration: none;
}
a:hover {
	color: @linkColorHover;
	text-decoration: underline;
}

/*------------------------------------*\
	$HEADINGS
\*------------------------------------*/
h1, .h1 {
	font-size: 2em;
	line-height: .75em;

	font-weight: normal;
	font-style: normal;
	color: #AE0345;
}
h2, .h2 {
	font-size: 1.5em;
	line-height: 1em;

	font-weight: normal;
	font-style: normal;
	color: #AE0345;
}
h3, .h3 {
	font-size: 1.2em;
	line-height: 1.25em;

	font-weight: bold;
	font-style: normal;
	color: #DF2B72;
}
h4, .h4 {
	font-size: 1.2em;
	line-height: 1.25em;

	font-weight: normal;
	font-style: normal;
	color: #333;
}
h5, .h5 {
	font-weight: bold;
	font-style: normal;
	color: #AE0345;
}
h6, .h6 {
	font-weight: normal;
	font-style: italic;
	color: #333;
}

/*------------------------------------*\
	$TYPOGRAPHY
\*------------------------------------*/
p, ol, ul, blockquote, pre, code {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}